./fizzbuzz-100

*.a
*.app
*.bc
*.cmd
*.d
*.dSYM/
*.dll
*.dll
*.dylib
*.dylib
*.elf
*.exe
*.exe
*.exe
*.exe~
*.exp
*.ez
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.o
*.obj
*.obj
*.out
*.out
*.pch
*.pdb
*.so
*.so
*.so.*
*.su
*.test
*.x86_64
*~
.tmp_versions/
/.fetch
/_build/
/cover/
/deps/
/doc/
Mkfile.old
Module.symvers
asm-*.tar
dkms.conf
erl_crash.dump
include/
modules.order